<html>
    <head>
        <title>Camilo´s blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Camilo´s blog</a></h1>
        </div>

        <div>
            <p>published: 15.09.2024, 14:03</p>
            <h2><a href="">Mi primer post</a></h2>
            <p>Hola, espero que quien lea esto esté muy bien. En este primer post quiero contarles sobre un reciente éxito escolar: ¡obtuve la nota más alta en varias materias! Puede que no parezca mucho, pero es algo que me hace feliz debido a que hace mucho no lograba algo así.</p>
        </div>

        <div>
            <p>published: 18.09.2024, 18:09</p>
            <h2><a href="">Segundo post</a></h2>
            <p>Hola de nuevo, han pasado unos días. Hoy me dieron la noticia de que sería seleccionado para la feria de robótica y de empresas en mi colegio; en la primera tendré que presentar un sistema de seguridad junto a un amigo y en la segunda tendré que preparar un producto para presentar frente a todo el colegio, estoy un poco nervioso así que deseenme suerte.</p>
        </div>
    </body>
</html>